<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-9 col-sm-4 col-md-4 col-lg-3" style="margin-top: 100px">
      <img
        src="images/about-me.jpg"
        alt="Erlangga Dewa Sakti"
        class="img-thumbnail rounded-circle hover-shadow"
      />
    </div>
    <figure class="text-center text-white mt-3">
      <blockquote class="blockquote">
        <h3 style="text-shadow: 0 0 3px rgba(0, 0, 0, 0.445)">
          Erlangga Dewa Sakti
        </h3>
      </blockquote>
      <figcaption
        class="blockquote-footer"
        style="text-shadow: 0 0 1px rgba(0, 0, 0, 0.445); color: #f3f2f2"
      >
        Full Stack Developer
      </figcaption>
    </figure>
  </div>
</div>
